<cyber>
    <module>
        <name>bridge_sender</name>
        <dag_conf>/apollo/modules/bridge/dag/bridge_sender.dag</dag_conf>
        <process_name>udp_bridge_sender</process_name>
    </module>
    <module>
        <name>bridge_receiver_ins_stat</name>
        <dag_conf>/apollo/modules/bridge/dag/bridge_receiver_ins_stat.dag</dag_conf>
        <process_name>udp_bridge_receiver_ins_stat</process_name>
    </module>
     <module>
        <name>bridge_receiver_best_pose</name>
        <dag_conf>/apollo/modules/bridge/dag/bridge_receiver_best_pose.dag</dag_conf>
        <process_name>udp_bridge_receiver_best_pose</process_name>
    </module>
      <module>
        <name>bridge_receiver_chassis</name>
        <dag_conf>/apollo/modules/bridge/dag/bridge_receiver.dag</dag_conf>
        <process_name>udp_bridge_receiver_chassis</process_name>
    </module>
    <module>
        <name>bridge_receiver_imu</name>
        <dag_conf>/apollo/modules/bridge/dag/bridge_receiver_imu.dag</dag_conf>
        <process_name>udp_bridge_receiver_imu</process_name>
    </module>
    <module>
        <name>bridge_receiver_corrected_imu</name>
        <dag_conf>/apollo/modules/bridge/dag/bridge_receiver_corrected_imu.dag</dag_conf>
        <process_name>udp_bridge_receiver_corrected_imu</process_name>
    </module>
    <module>
        <name>bridge_receiver_odometry</name>
        <dag_conf>/apollo/modules/bridge/dag/bridge_receiver_odometry.dag</dag_conf>
        <process_name>udp_bridge_receiver_odometry</process_name>
    </module>
    <module>
        <name>bridge_receiver_obstacle</name>
        <dag_conf>/apollo/modules/bridge/dag/bridge_receiver_obstacle.dag</dag_conf>
        <process_name>udp_bridge_receiver_obstacle</process_name>
    </module>
    <module>
        <name>bridge_receiver_radar</name>
        <dag_conf>/apollo/modules/bridge/dag/bridge_receiver_radar.dag</dag_conf>
        <process_name>udp_bridge_receiver_radar</process_name>
    </module>
     <module>
        <name>bridge_receiver_camera</name>
        <dag_conf>/apollo/modules/bridge/dag/bridge_receiver_camera.dag</dag_conf>
        <process_name>udp_bridge_receiver_camera</process_name>
    </module>
    <module>
        <name>bridge_receiver_decompress_image</name>
        <dag_conf>/apollo/modules/drivers/tools/image_decompress/dag/image_decompress.dag</dag_conf>
        <process_name>udp_bridge_receiver_decompress_image</process_name>
    </module>

</cyber>